
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Our Restaurants</h1>
      <ul class="list-unstyled">
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
        <% end %>
        <li><%= link_to "Add a restaurant", new_restaurant_path %></li>
      </ul>
    </div>
  </div>
</div>
